// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkest-blue: #000015;
$darker-blue: #222230;
$dark-blue: #171722;
$border-blue: #454557;
$js-yellow: #F6DF17;
