// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darker-blue: #000015;
$dark-blue: #3c3c58;
$light-blue: #4f4f72;
$js-yellow: #F6DF17;
