<h2>Your validated exercices</h2>

<% @finished_exercices.each do |finished_exercice| %>
    <%= link_to finished_exercice.exercice.title, exercice_submission_path(finished_exercice.exercice, finished_exercice) %>
<% end %>
