<% if @user == current_user %>
    <div class="last-exercice d-flex flex-column my-3">
      <h2>Your validated exercices</h2>
      <div class="m-4">
        <% @finished_exercices.each do |finished_exercice| %>
          <li><%= link_to finished_exercice.exercice.title, edit_exercice_submission_path(finished_exercice.exercice, finished_exercice) %></li>
          <li><%= finished_exercice.exercice.instructions %></li>
        <% end %>
      </div>
    </div>
<% end %>
