<% if @user == current_user %>
    <div class="last-exercice d-flex flex-column my-3">
      <h3>Your validated exercices</h3>
      <div class="m-4">
        <ul>
        <% @finished_exercices.each do |finished_exercice| %>
          <h5><li><%= link_to finished_exercice.exercice.title, edit_exercice_submission_path(finished_exercice.exercice, finished_exercice) %></li></h5>
        <% end %></ul>
      </div>
    </div>
<% end %>
