.badge {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: black;
  opacity: 100%;
  border: 2px solid $js-yellow;
}

.badge-opacity {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  opacity: 45%;
  background-color: black;
}
