.banner {
  background-color: #000015;
  opacity: 0.85;
  border-radius: 4px;
  transition: opacity 0.5s ease-in-out;

  .container {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    opacity: 1;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: 1;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner:hover{
  opacity: 1;
}

.banner:not(:hover){
  opacity: 0.85;
}
