.banner-user {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  a {
    position: bottom right;
  }

  .user-info {
    background: linear-gradient(45deg, #252424, #070707, #292727);
    width: 55%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid $js-yellow;
  }
}
