#challenges-banner {
  display: flex;
  flex-direction: row-reverse;

  .container {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
