.btn{
  color: $darkest-blue;
}

.btn:hover{
  color: $darkest-blue;
}

.button-yellow{
  color: $darkest-blue;
  background-color: $js-yellow;
  border-color: $darkest-blue;
  max-width: 320px;
  &:hover{
    color: $darkest-blue;
    background-color: $js-yellow;
    border-color: $js-yellow;
  }
}

.button-yellow.form-actions{
  width: min-content;
}

.button-blue{
  color: white;
  background-color: #172ef6;
  border-color: white;
  &:hover{
    color: white;
    background-color: #172ef6;
    border-color: white;
  }
}
