.card-instruction{
  padding: 30px;
  margin-top: 15px;
  background-color: desaturate($color: $darkest-blue, $amount: 20%);
  box-shadow: 0 8px 18px 8px rgba($color: $js-yellow, $alpha: 0.2);
  border: 1px solid $js-yellow;
  border-radius: 8px;
}

.card-code-editor {
  padding: 30px;
  margin-top: 15px;
  background-color: #232323;
  border: 1px solid #737373;
  border-radius: 8px;
}
