.code-editor-label {
  position: absolute;
  top: 260px;
  left: 1300px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

#ace-editor {
  position: absolute;
  width: 800px;
  height: 400px;
}

#ace-div {
  width: 802px;
  height: 402px;
  border: 1px solid rgba(whitesmoke, 0.5);
}


#sub-editor-div {
  display: flex;
  align-items: center;
}

#validations-counter {
  margin-top: 1em;
  padding-left: 1em;

  p {
    font-size: large;
    font-weight: bold;
  }
}
