.form-select{
  color: $darkest-blue;
}

.form-control::file-selector-button{
  color: $darkest-blue;
}

.text-color{
  div {
    input{
      color: $darkest-blue !important;
    }
    input:focus{
      color: $darkest-blue;
    }
  }
}

// .text-color div input {
//   color: #fff;
// }
