.navbar-lewagon {
  justify-content: space-between;
  background-color: #F6DF17;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
}

.navbar .container-fluid {
  padding-block: 6px;
  padding-inline: 60px;
}
