.navbar-lewagon {
  justify-content: space-between;
  background-color: $js-yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
  border: 1px solid rgb(167, 164, 18);
}

.navbar .container-fluid {
  padding-block: 6px;
  padding-inline: 60px;
}

.navbar a:hover {
  color: #000000 ;
}
