// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// padding-block is vertical padding
// padding-inline is horizontal padding

h1{
  padding-block: 20;
  padding-inline: 10;
  color: white;
}

h2{
  padding-block: 20;
  padding-inline: 10;
  color: white;
}

p{
  color: whitesmoke;
}

.my-svg{
  // approximately #000015 for darken 46%
  background-color: #000015;
  background: url('circle-scatter-haikei-2.svg');
}


a {
  text-decoration: none;
  color: white;
}

#submission_user_code{
  color: black !important;
}


.my-bg {
  background-color: #000015;
}
