<div class="container">
  <h1>Exercises</h1>
  <hr>
  <div class="form-custom">
    <%= form_with url: exercices_path, method: :get, class: "d-flex ", data:{turbo_frame: "exercices", controller: "form"} do %>
    <%= select_tag :query, options_from_collection_for_select(Tag.titles, "first", "last"),
      multiple: true,
      data: {controller: "tom-select",
        action: "form#submitForm",
        tom_select_options_value: {
        tags: true,
        plugins: {
          remove_button:{
          title:'Remove this item'
		      }
        }
       }
      },
      class: "form-control", placeholder: "coucou"
    %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>

   <%= render "exercices/partials/exercices", exercices: @exercices%>

</div>
